* {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px;
}

.book {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}